<app-header></app-header>

<ion-content>

  <main>

    <section class="jumbotron">

      <newsong-jumbotron
        title="New song"
        tagline="Lorem ipsum dolat init!"
        image="https://images.pexels.com/photos/6320/smartphone-vintage-technology-music.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
      ></newsong-jumbotron>

    </section>

    <section class="songs" padding>

      <newsong-title
        title="Songs"
      ></newsong-title>

      <newsong-songs
        [songs]="songs"
      ></newsong-songs>

    </section>

    <section class="videos" padding>

      <newsong-title
        title="Videos"
      ></newsong-title>

      <newsong-videos
        [videos]="videos"
      ></newsong-videos>

    </section>

    <section class="contact" padding>

      <newsong-title
        title="Contact us"
      ></newsong-title>

      <newsong-contact
        (sendMessage)="sendMessage($event)"
      ></newsong-contact>

    </section>

  </main>

</ion-content>
