<app-header></app-header>

<ion-content #homeContent>

  <main>

    <section class="jumbotron">

      <newsong-jumbotron
        title="New song"
        tagline="Lorem ipsum dolat init!"
        image="https://images.pexels.com/photos/6320/smartphone-vintage-technology-music.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
        (doSongs)="nav.scrollTo(homeContent, songsSection)"
        (doRadio)="player.playRadio(songs)"
        (doStore)="nav.navigate(['/store'])"
      ></newsong-jumbotron>

    </section>

    <section class="songs" padding #songsSection>

      <newsong-title
        title="Songs"
      ></newsong-title>

      <newsong-songs
        [songs]="songs"
        (play)="player.play(songs, $event)"
      ></newsong-songs>

    </section>

    <section class="bundles" padding>

      <newsong-title
        title="Playlists"
      ></newsong-title>

      <newsong-bundles
        [bundles]="bundles"
        (play)="player.play($event.meta['songs'], 0, $event)"
      ></newsong-bundles>

    </section>

    <section class="videos" padding>

      <newsong-title
        title="Videos"
      ></newsong-title>

      <newsong-videos
        [videos]="videos"
      ></newsong-videos>

    </section>

    <section class="contact" padding>

      <newsong-title
        title="Contact us"
      ></newsong-title>

      <newsong-contact
        (sendMessage)="sendMessage($event)"
      ></newsong-contact>

    </section>

  </main>

</ion-content>
