<app-header></app-header>

<ion-content #homeContent>

  <main>

    <section class="jumbotron">

      <newsong-jumbotron
        title="New song"
        tagline="Lorem ipsum dolat init!"
        image="https://images.pexels.com/photos/6320/smartphone-vintage-technology-music.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
        (doSongs)="nav.scrollTo(homeContent, songsSection)"
        (doRadio)="playRadio()"
        (doStore)="nav.navigate(['/store'])"
      ></newsong-jumbotron>

    </section>

    <section class="songs" padding #songsSection>

      <newsong-title
        title="Songs"
      ></newsong-title>

      <newsong-songs
        [songs]="songs"
        (view)="nav.navigate(['/song', $event.$key], { song: $event })"
        (play)="player.play(songs, $event)"
      ></newsong-songs>

    </section>

    <section class="bundles" *ngIf="!!bundles" padding>

      <newsong-title
        title="Playlists"
      ></newsong-title>

      <newsong-bundles
        [bundles]="bundles"
        (view)="nav.navigate(['/', $event.type, $event.$key], { bundle: $event })"
        (play)="player.play($event.meta['songs'], 0, $event)"
      ></newsong-bundles>

    </section>

    <section class="videos" *ngIf="!!videos" padding>

      <newsong-title
        title="Videos"
      ></newsong-title>

      <newsong-videos
        [videos]="videos"
        (view)="nav.navigate(['/video', $event.$key], { video: $event })"
      ></newsong-videos>

    </section>

    <section class="posts" *ngIf="!!posts" padding>

      <newsong-title
        title="Posts"
      ></newsong-title>

      <newsong-posts
        [posts]="posts"
        (view)="nav.navigate(['/post', $event.$key], { post: $event })"
      ></newsong-posts>

    </section>

    <section class="contact" padding>

      <newsong-title
        title="Contact us"
      ></newsong-title>

      <newsong-contact
        (sendMessage)="sendMessage($event)"
      ></newsong-contact>

    </section>

  </main>

</ion-content>
